{layout name="layout/index" /}


<div class="content">
    <div class="leftBox wow fadeInLeft" data-wow-delay="0.3s">
        {volist name="articles" id="vo"}
        <a href="">
            <div class="articleList">
                <p class="articleTitle">{$vo.title}</p>
                <div class="article">{$vo.content}</div>
                <p class="infoBox">
                    <i class="fa fa-user"></i><span>{$vo.author}</span>
                    <i class="fa fa-clock-o"></i><span>{$vo.create_time}</span>
                    <i class="fa fa-tags"></i><span class="fromLable">{$tag[$vo.category_id]['name']}</span>
                </p>
            </div>
        </a>
        {/volist}

        <div class="lookmore"><a href="">加载更多>></a></div>
    </div>
    {:widget('Widget/userinfo')}
    {:widget('Widget/tags')}
    <img class="monkey" src="/public/index/images/monkey.png" alt="">
</div>