{layout name="layout/index" /}


<div class="content">
    <div class="leftBox wow fadeInLeft" data-wow-delay="0.3s">
        <a href=""><div class="articleList">
            <p class="articleTitle">React如何重新处理DOM(Diffing算法)</p>
            <div class="article">本文会详细介绍在React中的“diffing”算法是怎么做的，以便组件更新是可预测的，从而让高性能应用变得足够快。 背景 使用React时，在单个时间点，您可以将render()函数看做是在创建React元素树。 在下一个state或props更新时render()函数将返回一个不同的React元素树。 React需要弄清楚如何高效地更新UI去匹配上最新的元素树。 对于将一个树变换成另一个树的最小操作数的算法问题，现在已经存在一些比较通用的解决方案。 然而，那些现有的最先进的技术算法都有O(n^3)的复杂度（n是树中的元素的数量）。 如果在React中使用这些算法，显示1000个元素将需要大约十亿次比较。 个真的代价太昂贵了。 相反，React实现了一个基于两个假设直观推断出的O( ...</div>
            <p class="infoBox">
                <i class="fa fa-user"></i><span>来博主</span>
                <i class="fa fa-clock-o"></i><span>2018-03-14</span>
                <i class="fa fa-tags"></i><span class="fromLable">PHP</span>
            </p>
        </div></a>
        <div class="articleList">
            <p class="articleTitle">CSS实现单行、多行文本溢出显示省略号（…）</p>
            <div class="article">本文会详细介绍在React中的“diffing”算法是怎么做的，以便组件更新是可预测的，从而让高性能应用变得足够快。 背景 使用React时，在单个时间点，您可以将render()函数看做是在创建React元素树。 在下一个state或props更新时render()函数将返回一个不同的.</div>
            <p class="infoBox">
                <i class="fa fa-user"></i><span>来博主</span>
                <i class="fa fa-clock-o"></i><span>2018-03-14</span>
                <i class="fa fa-tags"></i><span class="fromLable">PHP</span>
            </p>
        </div>
        <div class="articleList">
            <p class="articleTitle">CSS实现单行、多行文本溢出显示省略号（…）</p>
            <div class="article">本文会详细介绍在React中的“diffing”算法是怎么做的，以便组件更新是可预测的，从而让高性能应用变得足够快。 背景 使用React时，在单个时间点，您可以将render()函数看做是在创建React元素树。 在下一个state或props更新时render()函数将返回一个不同的.</div>
            <p class="infoBox">
                <i class="fa fa-user"></i><span>来博主</span>
                <i class="fa fa-clock-o"></i><span>2018-03-14</span>
                <i class="fa fa-tags"></i><span class="fromLable">PHP</span>
            </p>
        </div>
        <div class="articleList">
            <p class="articleTitle">CSS实现单行、多行文本溢出显示省略号（…）</p>
            <div class="article">本文会详细介绍在React中的“diffing”算法是怎么做的，以便组件更新是可预测的，从而让高性能应用变得足够快。 背景 当使用React时，在单个时间点，您可以将render()函数看做是在创建React元素树。 在下一个state或props更新时render()函数将返回一个不同的.</div>
            <p class="infoBox">
                <i class="fa fa-user"></i><span>来博主</span>
                <i class="fa fa-clock-o"></i><span>2018-03-14</span>
                <i class="fa fa-tags"></i><span class="fromLable">PHP</span>
            </p>
        </div>
        <div class="articleList">
            <p class="articleTitle">CSS实现单行、多行文本溢出显示省略号（…）</p>
            <div class="article">本文会详细介绍在React中的“diffing”算法是怎么做的，以便组件更新是可预测的，从而让高性能应用变得足够快。 背景 当使用React时，在单个时间点，您可以将render()函数看做是在创建React元素树。 在下一个state或props更新时render()函数将返回一个不同的.</div>
            <p class="infoBox">
                <i class="fa fa-user"></i><span>来博主</span>
                <i class="fa fa-clock-o"></i><span>2018-03-14</span>
                <i class="fa fa-tags"></i><span class="fromLable">PHP</span>
            </p>
        </div>
        <div class="articleList">
            <p class="articleTitle">CSS实现单行、多行文本溢出显示省略号（…）</p>
            <div class="article">本文会详细介绍在React中的“diffing”算法是怎么做的，以便组件更新是可预测的，从而让高性能应用变得足够快。 背景 当使用React时，在单个时间点，您可以将render()函数看做是在创建React元素树。 在下一个state或props更新时render()函数将返回一个不同的.</div>
            <p class="infoBox">
                <i class="fa fa-user"></i><span>来博主</span>
                <i class="fa fa-clock-o"></i><span>2018-03-14</span>
                <i class="fa fa-tags"></i><span class="fromLable">PHP</span>
            </p>
        </div>
        <div class="lookmore"><a href="">加载更多>></a></div>
    </div>
    <div class="rightBox wow fadeInRight" data-wow-delay="0.2s">
        <div class="headerBox">
            <a href=""><img class="userpic" src="/public/index/images/userpic.jpg" alt=""></a>
        </div>
        <div class="blogBox">
            <span class="blogname">厉冬的个人微博</span>
        </div>
        <div class="classifyTag">
            <div class="eachone">
                <div class="number">10</div>
                <div class="classify">文章</div>
            </div>
            <div class="eachone">
                <div class="number">30</div>
                <div class="classify">标签</div>
            </div>
            <div class="eachone">
                <div class="number">5</div>
                <div class="classify">访客</div>
            </div>
        </div>
    </div>
    <div class="rightBox2 wow fadeInRight" data-wow-delay="0.2s">
        <div class="titleBox">
            <i class="fa fa-tags"></i>
            <span>热门标签</span>
        </div>
        <div class="lableBox">
            <a href="">PHP(17)</a>
            <a href="">ELK(3)</a>
            <a href="">MYSQL(20)</a>
            <a href="">LINUX(2)</a>
            <a href="">ThinkPHP(1)</a>
            <a href="">Apache/Nginx(40)</a>
            <a href="">Larveral(5)</a>
            <a href="">Larveral(5)</a>
            <a href="">Yii(12)</a>
            <a href="">Git(12)</a>
            <a href="">SEO(12)</a>
        </div>
    </div>
    <img class="monkey" src="/public/index/images/monkey.png" alt="">
</div>

</div>