<section class="content">
    <div class="box box-info clearfix">
        <div class="form-group"></div>
        <div class="col-sm-12">
            <div>
                <h4>【菜单结构列表】{/*<small>  (总计<span style="color:#ed5565"></span>条数据)</small>*/}
            </div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr style="height:20px;background-color: #00ccff">
                        <th>图片</th><th>链接地址</th><th>提示信息</th><th>状态</th><th>排序</th><th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {volist name="list" id="value"}
                    <tr>
                        <td class="col-sm-3 td_left"><img src="{$value.image_path}" style="height: 50px;" /></td>
                        <td class="col-sm-2">{$value.link}</td>
                        <td class="col-sm-2">{$value.alt_msg}</td>
                        <td class="col-sm-2">{$value.status_msg}</td>
                        <td class="col-sm-2">{$value.order_weight}</td>
                        <td class="col-sm-2">
                            <button class='btn btn-warning  btn-sm edit-image' data-image_id="{$value.id}">编辑</button>
                            <!--<button class='btn btn-danger  btn-sm delete-menu' data-image_id="{$value.id}">删除</button>-->
                        </td>
                    </tr>

                    {/volist}
                </tbody>
            </table>
        </div>
        <div class="clearfix"></div>
        <div class="form-group">
            <div class="col-sm-10">
                <button  id="add_one" class="btn btn-info">添加</button>
            </div>
        </div>
        <div class="form-group clearfix"></div>
        <br />
</section>
<section>
    <div id="add_layer" style="display: none;padding:auto">
        <div class="content">
            <form action="saveImage" method="post" enctype="multipart/form-data">
                <!-- Default panel contents -->
                <div class="form-horizontal">
                    <div class="form-group"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"></label>
                        <div class="col-sm-5">
                            <img src="" style="height: 50px;" id="old_image" />
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">更新图片</label>
                        <div class="col-sm-5">
                            <input type="file" name="ad_image" />
                        </div>

                    </div>
                    
                    <div class="form-group">
                        <label class="col-sm-2 control-label">链接地址</label>
                        <div class="col-sm-5">
                            <input type="text" name="link" id="link" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">提示信息</label>
                        <div class="col-sm-5">
                            <input type="text" name="alt_msg" id="alt_msg" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">排序权重</label>
                        <div class="col-sm-5">
                            <input type="text" name="order_weight" id="order_weight" class="form-control" />
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-2 control-label">状态</label>
                        <div class="col-sm-5" style="margin-top: 6px;">
                            <label><input type="radio" name="status" value="1" />开启</label>
                            <label><input type="radio" name="status" value="0" />关闭</label>
                        </div>
                    </div>

                    <hr />
                    <input type="hidden" id="image_id" name="image_id" value="" />
                    <div class="form-group">
                        <div class="col-sm-8">
                            <button type="" class="btn btn-info" id="save">提交</button>
                        </div>
                    </div>
                    <div class="form-group"></div>
                </div>
            </form>
        </div>
    </div>
</section>

<script>
    $('#add_one').on('click', function () {
        $("#save_type").val('add');
        layer.open({
            type: 1,
            title: '<h4>新增Banner图片</h4>',
            area: ['600px', '480px'],
            shadeClose: true, //点击遮罩关闭
            content: $("#add_layer")
        });
    });
    $(".edit-image").bind('click', function () {
        var image_id = $(this).data('image_id');
        $("#image_id").val(image_id);
        $.ajax({
            url: 'getImageInfo',
            type: 'post',
            data: {
                id: image_id
            },
            success: function (res) {
                $("input[name=status]").each(function () {
                    if (this.value == res.status) {
                        this.checked = true;
                    }
                });
                layer.open({
                    type: 1,
                    title: '<h4>编辑图片</h4>',
                    area: ['600px', '480px'],
                    shadeClose: true, //点击遮罩关闭
                    content: $("#add_layer")
                });
            }
        });
    });

    $(".delete-image").bind('click', function () {
        var image_id = $(this).data('image_id');
        if (confirm('您确定要删除该图片吗？')) {
            $.ajax({
                url: 'deleteImage',
                type: 'post',
                data: {
                    id: image_id
                },
                success: function (res) {
                    if (res.error != null) {
                        alert("删除失败!\n" + res.error);
                    } else {
                        alert('删除成功!');
                        window.location.reload();
                    }
                }
            })
        }
    });
</script>