<style>
    td,th{
        text-align: center;
    }
    .td_left{
        text-align: left;
    }
    .table tbody tr {
        height: 20px;
    }
    .table tbody tr td{
        vertical-align: middle;
        padding-left: 20px;
    }
    small{
        vertical-align: bottom;
        margin-bottom: 2px;
    }
</style>
<section class="content">
    <div class="box box-info clearfix">
        <div class="form-group"></div>
        <div class="col-sm-12">
            <div>
                <h4>【数据表】
            </div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr style="height:20px;background-color: #00ccff">
                        <th>表名</th>
                        <th>引擎</th>
                        <th>数据量</th>
                        <th>占用空间</th>
                        <th>索引大小</th>
                        <th>字符集</th>
                        <th>备注</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {volist name="list" id="value"}
                    <tr>
                        <td class="col-sm-1">{$value.Name}</td>
                        <td class="col-sm-1">{$value.Engine}</td>
                        <td class="col-sm-1">{$value.Rows}</td>
                        <td class="col-sm-1">{$value.Data_length}</td>
                        <td class="col-sm-1">{$value.Index_length}</td>
                        <td class="col-sm-1">{$value.Collation}</td>
                        <td class="col-sm-1">{$value.Comment}</td>
                        <td class="col-sm-1">
                        </td>
                    </tr>
                    {/volist}
                </tbody>
            </table>
        </div>
        <div class="clearfix"></div>
        <div class="form-group">
            <div class="col-sm-10">
            </div>
        </div>
        <div class="form-group clearfix"></div>
        <br />
    </div>
</section>
<script>
    $(".delete-article").bind('click', function () {
        var page_id = $(this).data('page_id');
        if (confirm('您确定要删除该吗')) {
            $.ajax({
                url: 'delArticle',
                type: 'post',
                data: {
                    id: page_id
                },
                success: function (res) {
                    window.location.reload();
                }
            });
        }
    });
</script>