<style>
    td,th{
        text-align: center;
    }
    .table tbody tr {
        height: 20px;
    }
    .table tbody tr td{
        vertical-align: middle;
        padding-left: 20px;
    }
    small{
        vertical-align: bottom;
        margin-bottom: 2px;
    }
</style>
<section class="content">
    <div class="box box-info clearfix">
        <div class="form-group"></div>
        <div class="col-sm-12">
            <div>
                <h4>【管理员列表】<small>  (总计<span style="color:#ed5565">{$list->total()|default="0"}</span>条数据)</small>
            </div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr style="height:20px;background-color: #00ccff">
                        <th>ID</th>
                        <th>昵称</th>
                        <th>登录账号</th>
                        <th>状态</th>
                        <th>角色组</th>
                        <th>开通时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {volist name="list" id="value"}
                    <tr>
                        <td class="col-sm-1">{$value.id}</td>
                        <td class="col-sm-1">{$value.nickname}</td>
                        <td class="col-sm-2">{$value.username}</td>
                        <td class="col-sm-1">{$value.status}</td>
                        <td class="col-sm-2">{$value.role.role_name}</td>
                        <td class="col-sm-3">{$value.create_time}</td>
                        <td class="col-sm-2">
                            <a href="{:url('auth.user/edit',['id'=>$value.id])}">
                                <button class='btn btn-warning  btn-sm edit-user' data-user_id="{$value.id}">编辑</button>
                            </a>
                            <button class='btn btn-danger  btn-sm delete-user' data-user_id="{$value.id}">删除</button>
                        </td>
                    </tr>
                    {/volist}
                </tbody>
            </table>
            {$list->render()}
        </div>
        <div class="clearfix"></div>
        <div class="form-group">
            <div class="col-sm-10">
                <a href="{:url('auth.user/add',['id'=>0])}"><button  id="add_one" class="btn btn-info">添加管理员</button></a>
            </div>
        </div>
        <div class="form-group clearfix"></div>
        <br />
    </div>
</section>
<script>
    $(".delete-user").bind('click', function () {
        var user_id = $(this).data('user_id');
        if (confirm('您确定要删除该吗')) {
            $.ajax({
                url: 'del',
                type: 'post',
                data: {
                    id: user_id
                },
                success: function (res) {
                    console.log(res);
                    window.location.reload();
                }
            });
        }
    });
</script>

