
<div class="header">
    <a href=""><img src="{:get_cfg('site_logo')}" class="fadeInDown wow" data-wow-delay="0.2s" alt=""></a>
    <img class="star1" src="/public/index/images/star.gif" alt="">
    <img class="star2" src="/public/index/images/star.gif" alt="">
    <img class="star3" src="/public/index/images/star.gif" alt="">
    <img class="star4" src="/public/index/images/star.gif" alt="">
    <p class="fadeInDown wow" data-wow-delay="0.1s">我不是一个伟大的程序员，我只是一个具有良好习惯的优秀程序员。</p>

    {:widget('Widget/nav_menu')}
</div>