<div class="rightBox wow fadeInRight" data-wow-delay="0.2s">
        <div class="headerBox">
            <a href=""><img class="userpic" src="{:get_cfg('avatar_image')}" alt=""></a>
        </div>
        <div class="blogBox">
            <span class="blogname">{:get_cfg('site_owner')}</span>
        </div>
        <div class="classifyTag">
            <div class="eachone">
                <div class="number">{$articles_num}</div>
                <div class="classify">文章</div>
            </div>
            <div class="eachone">
                <div class="number">{$category_num}</div>
                <div class="classify">标签</div>
            </div>
            <div class="eachone">
                <div class="number">{$access_num}</div>
                <div class="classify">访客</div>
            </div>
        </div>
    </div>