<style>
    td,th{
        text-align: center;
    }
    .table tbody tr {
        height: 20px;
    }
    .table tbody tr td{
        vertical-align: middle;
        padding-left: 20px;
    }
    small{
        vertical-align: bottom;
        margin-bottom: 2px;
    }
</style>
<section class="content">
    <div class="box box-info clearfix">
        <div class="form-group"></div>
        <div class="col-sm-12">
            <div>
                <h4>【节点列表】<button  id="rebuild" class="btn btn-info">重建节点</button></h4>
            </div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr style="height:50px;background-color: #00ccff">
                        <th>节点</th>
                        <th>节点名称</th>
                        <th>节点ID</th>
                        <th>节点类型</th>
                        <th>状态</th>
                        <th>排序权重</th>
                        <th>修改人</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {volist name="list->childs" id="value"}
                    <tr style="height:20px;background-color: #55ddff">
                        <td class="col-sm-2" style="text-align:left;padding-left: 20px">{$value.node}</td>
                        <td class="col-sm-2">{$value.name}</td>
                        <td class="col-sm-1">{$value.node_id}</td>
                        <td class="col-sm-1">{$value.remark}</td>
                        <td class="col-sm-1">{$value.status}</td>
                        <td class="col-sm-1">{$value.order_weight}</td>
                        <td class="col-sm-1">{$value.updator}</td>
                        <td class="col-sm-2">
                            <button class='btn btn-warning  btn-sm edit-node' data-node_id="{$value.node_id}">编辑</button>
                            <button class='btn btn-danger  btn-sm delete-node' data-node_id="{$value.node_id}">删除</button>
                            <button class='btn btn-info  btn-sm add-child-node' data-node_id="{$value.node_id}">添加子节点</button>
                        </td>
                    </tr>
                    {volist name="value->childs" id="val"}
                    <tr>
                        <td class="col-sm-2" style="text-align:left;padding-left: 20px">&nbsp;&nbsp;&nbsp;&nbsp;|----{$val.node}</td>
                        <td class="col-sm-2">{$val.name}</td>
                        <td class="col-sm-1">{$val.node_id}</td>
                        <td class="col-sm-1">{$val.remark}</td>
                        <td class="col-sm-1">{$val.status}</td>
                        <td class="col-sm-1">{$val.order_weight}</td>
                        <td class="col-sm-1">{$val.updator}</td>
                        <td class="col-sm-2">
                            <button class='btn btn-warning  btn-sm edit-node' data-node_id="{$val.node_id}">编辑</button>
                            <button class='btn btn-danger  btn-sm delete-node' data-node_id="{$val.node_id}">删除</button>
                        </td>
                    </tr>

                    {/volist}

                    {/volist}
                </tbody>
            </table>
        </div>
        <div class="clearfix"></div>
        <div class="form-group">
            <div class="col-sm-10">
                <button  id="add_one" class="btn btn-info">新增节点</button>
            </div>
        </div>
        <div class="form-group clearfix"></div>
        <br />
    </div>
</section>
<section>
    <div id="add_layer" style="display: none;padding:auto">
        <div class="content">
            <!-- Default panel contents -->
            <form id="form">
                <div class="form-horizontal">
                    <div class="form-group"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">节点</label>
                        <div class="col-sm-5">
                            <input type="text" id="node" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">节点名称</label>
                        <div class="col-sm-5">
                            <input type="text" id="name" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">排序权重</label>
                        <div class="col-sm-5">
                            <input type="text" id="order_weight" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">节点类型</label>
                        <div class="col-sm-5">
                            <input type="text" id="remark" class="form-control" readonly value="控制器"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">状态</label>
                        <div class="col-sm-5" style="margin-top: 6px;">
                            <label><input type="radio" name="status" value="1" checked />开启</label>
                            <label><input type="radio" name="status" value="0" />关闭</label>
                        </div>
                    </div>

                    <hr />
                    <div class="form-group">
                        <div class="col-sm-8">
                            <button type="" class="btn btn-info" id="save">提交</button>
                        </div>
                    </div>
                    <input type="hidden" id="node_id" value="" />
                    <input type="hidden" id="pid" value="" />
                    <input type="hidden" id="level" value="" />
                    <div class="form-group"></div>
                </div>
            </form>
        </div>

    </div>
</section>
<script>
    $("#rebuild").bind('click', function () {
        if (confirm('您确定要重建节点列表吗?')) {
            $.ajax({
                url: 'rebuildNode',
                type: 'post',
                success: function (res) {
                    if (res > 0) {
                        alert('重建完成!');
                    }
                    window.location.reload();
                }
            });
        }
    });
    $(".delete-node").bind('click', function () {
        var node_id = $(this).data('node_id');
        if (confirm('您确定要删除该节点吗')) {
            $.ajax({
                url: 'delete',
                type: 'post',
                data: {
                    node_id: node_id
                },
                success: function (res) {
                    window.location.reload();
                }
            });
        }
    });

    $('#add_one').on('click', function () {
        $("#role_name").val('');
        $("#role_id").val(0);
        $("#remark").val('控制器');
        $("#level").val(2);
        $.ajax({
            url: 'getBaseNode',
            type: 'post',
            success: function (res) {
                $("#pid").val(res.node_id);
            }
        });
        layer.open({
            type: 1,
            title: '<h4>新增节点</h4>',
            area: ['600px', '450px'],
            shadeClose: true, //点击遮罩关闭
            content: $("#add_layer")
        });
    });

    $(".edit-node").bind('click', function () {
        var id = $(this).data('node_id');
        var status = '';
        $.ajax({
            url: 'getNodeInfo',
            type: 'post',
            data: {
                node_id: id
            },
            success: function (res) {
                $("#node_id").val(res.node_id);
                $("#node").val(res.node);
                $("#name").val(res.name);
                $("#order_weight").val(res.order_weight);
                $("#remark").val(res.remark);
                $("#pid").val(res.pid);
                $("input[name=status]").each(function () {
                    status = res.status == '开启' ? 1 : 0;
                    if (this.value == status) {
                        this.checked = true;
                    }
                });
                layer.open({
                    type: 1,
                    title: '<h4>节点编辑</h4>',
                    area: ['600px', '450px'],
                    shadeClose: true, //点击遮罩关闭
                    content: $("#add_layer")
                });
            }
        });
    });
    $('.add-child-node').on('click', function () {
        $("#role_name").val('');
        $("#role_id").val(0);
        $("#remark").val('操作');
        $("#level").val(3);
        $("#pid").val($(this).data('node_id'));
        
        layer.open({
            type: 1,
            title: '<h4>新增节点</h4>',
            area: ['600px', '450px'],
            shadeClose: true, //点击遮罩关闭
            content: $("#add_layer")
        });
    });

    $("#save").bind('click', function () {
        layer.close(layer.index);
        var node = $("#node").val();
        var name = $("#name").val();
        var order_weight = $("#order_weight").val();
        var node_id = $("#node_id").val();
        var pid = $("#pid").val();
        var remark = $("#remark").val();
        var level = $("#level").val();
        var status;
        $("input[name=status]").each(function () {
            if (this.checked == true) {
                status = this.value;
            }
        });
        if ($.trim(node) == '') {
            $("#name").focus();
            alert('节点不能为空');
            return false;
        }
        if ($.trim(name) == '') {
            $("#name").focus();
            alert('节点名称不能为空');
            return false;
        }
        $.ajax({
            url: 'saveNode',
            type: 'post',
            dataType: 'json',
            data: {
                node_id:node_id,
                node:node,
                name:name,
                order_weight:order_weight,
                status: status,
                pid:pid,
                remark:remark,
                level:level
            },
            success: function (res) {
                console.log(res);
//                window.location.reload();
            }
        });
    });

</script>

