{layout name="layout/index" /}

<div class="content">
    <div class="leftBox wow fadeInLeft" data-wow-delay="0.3s">
        {volist name="articles" id="vo"}
        <a href="{:url('article/'.$vo.id)}" >
            <div class="articleList">
                <p class="articleTitle">{$vo.title}</p>
                <div class="article">{$vo.content}</div>
                <p class="infoBox">
                    <i class="fa fa-user"></i><span>{$vo.author}</span>
                    <i class="fa fa-clock-o"></i><span>{$vo.create_time}</span>
                    <i class="fa fa-tags"></i><span class="fromLable">{$tag}</span>
                </p>
            </div>
        </a>
        {/volist}

        {if condition="$articles neq '' "}
        <div class="lookmore"><a href="">加载更多>></a></div>
        {else /}
        <div class="lookmore"><a href="">>>没有数据<<</a></div>
        {/if}
    </div>
    {:widget('Widget/userinfo')}
    {:widget('Widget/tags')}
    {:widget('widget/monkey')}
</div>


