<section class="content">
    <div class="box box-info">
        <!-- Default panel contents -->
        <form class="form-horizontal"  action="{:url('auth.user/save_user')}"  enctype="multipart/form-data" method="get">
            <div class="form-group"></div>
            <div class="form-group">
                <label class="col-sm-2 control-label">登录账号</label>
                <div class="col-sm-5">
                    <input type="text" id="username" name="username" value="{$info.username}" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">昵称</label>
                <div class="col-sm-5">
                    <input type="text" id="nickname" name="nickname" value="{$info.username}" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">状态</label>
                <div class="col-sm-5" style="padding-top: 8px;">
                    {if condition="$info.status eq '开启'"}
                    <label><input type="radio" name="status" value="1" checked />开启</label>&nbsp;&nbsp;
                    <label><input type="radio" name="status" value="0" />禁用</label>
                    {else /}
                    <label><input type="radio" name="status" value="1"  />开启</label>&nbsp;&nbsp;
                    <label><input type="radio" name="status" value="0" checked />禁用</label>
                    {/if}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">角色组</label>
                <div class="col-sm-2">
                    <select name='role_id' class="form-control" >
                        {volist name="roles" id="vo"}
                        <option value='{$vo.role_id}' {if condition="$info.role_id eq $vo.role_id"}selected{/if}>{$vo.role_name}</option>
                        {/volist}
                    </select>
                </div>
            </div>

            <hr />
            <div class="form-group">
                <input type="hidden" name="id" id="id" value="{$info.id}" />
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-info" id='submint'>提交</button>
                    <button type="button" class="btn btn-info" id='changePwd'>修改密码</button>
                </div>
            </div>
            <div class="form-group"></div>
        </form>
    </div>
</section>
<section>
    <div id="add_layer" style="display: none;padding:auto">
        <div class="content">
            <!-- Default panel contents -->
                <div class="form-horizontal">
                    <div class="form-group"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">原密码</label>
                        <div class="col-sm-5">
                            <input type="password" id="old_pwd" name="old_password" value="" class="form-control" placeholder="******" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">新密码</label>
                        <div class="col-sm-5">
                            <input type="password" id="password" name="password" value="" class="form-control" placeholder="******" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">确认密码</label>
                        <div class="col-sm-5">
                            <input type="password" id="repassword" name="repassword" value="" class="form-control"  placeholder="******"  />
                        </div>
                    </div>

                    <hr />
                    <div class="form-group">
                        <div class="col-sm-8">
                            <button type="" class="btn btn-info" id="save">提交</button>
                        </div>
                    </div>
                    <div class="form-group"></div>
                </div>
        </div>
    </div>
</section>

<script>
    $('#changePwd').on('click', function () {
        layer.open({
            type: 1,
            title: '<h4>修改密码</h4>',
            area: ['600px', '380px'],
            shadeClose: true, //点击遮罩关闭
            content: $("#add_layer")
        });
    });
    $("#save").bind('click', function () {
        layer.close(layer.index);
        var id = $("#id").val();
        var old_pwd = $("#old_pwd").val();
        var password = $("#password").val();
        var repassword = $("#repassword").val();
        $.ajax({
            url: "{:url('auth.user/change_pwd')}",
            type: 'post',
            data: {
                id: id,
                old_pwd:old_pwd,
                password: password,
                repassword: repassword
            },
            success: function () {
                window.location.reload();
            }
        });
    });
</script>
