<style>
    td,th{
        text-align: center;
    }
    .table tbody tr {
        height: 20px;
    }
    .table tbody tr td{
        vertical-align: middle;
        padding-left: 20px;
    }
    small{
        vertical-align: bottom;
        margin-bottom: 2px;
    }
</style>
<section class="content">
    <div class="box box-info clearfix">
        <div class="form-group"></div>
        <div class="col-sm-12">
            <div>
                <h4>【角色列表】<small>  (总计<span style="color:#ed5565">{$list->total()|default="0"}</span>条数据)</small>
            </div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr style="height:20px;background-color: #00ccff">
                        <th>角色名称</th>
                        <th>成员数</th>
                        <th>创建者</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {volist name="list" id="value"}
                    <tr>
                        <td class="col-sm-3">{$value.role_name}</td>
                        <td class="col-sm-2">{$value.user_num}</td>
                        <td class="col-sm-2">{$value.creator}</td>
                        <td class="col-sm-2">{$value.status}</td>
                        <td class="col-sm-3">
                            <button class='btn btn-warning  btn-sm edit-role' data-role_id="{$value.role_id}">编辑</button>
                            <button class='btn btn-danger  btn-sm delete-role' data-role_id="{$value.role_id}">删除</button>
                            <a href="{:url('auth.role/roleNode',['id'=>$value.role_id])}">
                                <button class='btn btn-info  btn-sm' data-role_id="{$value.role_id}">分配权限</button>
                            </a>
                        </td>
                    </tr>
                    {/volist}
                </tbody>
            </table>
            {$list->render()}
        </div>
        <div class="clearfix"></div>
        <div class="form-group">
            <div class="col-sm-10">
                <button  id="add_one" class="btn btn-info">添加角色</button>
            </div>
        </div>
        <div class="form-group clearfix"></div>
        <br />
    </div>
</section>
<section>
    <div id="add_layer" style="display: none;padding:auto">
        <div class="content">
            <!-- Default panel contents -->
            <form id="form">
                <div class="form-horizontal">
                    <div class="form-group"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">角色名称</label>
                        <div class="col-sm-5">
                            <input type="text" id="role_name" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">状态</label>
                        <div class="col-sm-5" style="margin-top: 6px;">
                            <label><input type="radio" name="status" value="1" />开启</label>
                            <label><input type="radio" name="status" value="0" />关闭</label>
                        </div>
                    </div>

                    <hr />
                    <div class="form-group">
                        <div class="col-sm-8">
                            <button type="" class="btn btn-info" id="save">提交</button>
                        </div>
                    </div>
                    <input type="hidden" id="role_id" value="" />
                    <div class="form-group"></div>
                </div>
            </form>
        </div>

    </div>
</section>
<script>
    $(".delete-role").bind('click', function () {
        var role_id = $(this).data('role_id');
        if (confirm('您确定要删除该角色吗')) {
            $.ajax({
                url: 'del',
                type: 'post',
                data: {
                    role_id: role_id
                },
                success: function (res) {
                    window.location.reload();
                }
            });
        }
    });

    $('#add_one').on('click', function () {
        $("#role_name").val('');
        $("#role_id").val(0);
        layer.open({
            type: 1,
            title: '<h4>新增角色</h4>',
            area: ['600px', '300px'],
            shadeClose: true, //点击遮罩关闭
            content: $("#add_layer")
        });
    });

    $(".edit-role").bind('click', function () {
        var id = $(this).data('role_id');
        var status = '';
        $.ajax({
            url: 'getRoleInfo',
            type: 'post',
            data: {
                role_id: id
            },
            success: function (res) {
                $("#role_name").val(res.role_name);
                $("#role_id").val(res.role_id);
                $("input[name=status]").each(function () {
                    status = res.status == '开启' ? 1 : 0;
                    if (this.value == status) {
                        this.checked = true;
                    }
                });
                layer.open({
                    type: 1,
                    title: '<h4>角色组编辑</h4>',
                    area: ['600px', '300px'],
                    shadeClose: true, //点击遮罩关闭
                    content: $("#add_layer")
                });
            }
        });
    });

    $("#save").bind('click', function () {
        layer.close(layer.index);
        var name = $("#role_name").val();
        var id = $("#role_id").val();
        var status = '';
        $("input[name=status]").each(function () {
            if (this.checked == true) {
                status = this.value;
            }
        });
        if ($.trim(name) == '') {
            $("#name").focus();
            alert('分类名称不能为空');
            return false;
        }
        $.ajax({
            url: 'saveRole',
            type: 'post',
            dataType: 'json',
            data: {
                role_id: id,
                role_name: name,
                status: status
            },
            success: function (res) {
                console.log(res);
//                window.location.reload();
            }
        });
    });

</script>

